.navbar{
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 13vh;
 border-bottom: solid;
 border-width: 0.01px;
 border-color: grey;
 position: fixed;
 z-index: 10000;
 width: 100vw;
}
.active{
    background-color: rgb(248,244,243);
    transition: 1s;
}
.active .lists ul li{
    list-style: none;
    margin: 0rem 1.5rem;
    font-family: poppins;
    color: gray;
   }
.navbar .logo {
  font-size: 2rem;
}
.navbar .lists ul {
 display: flex;
}
.navbar .lists ul li{
 list-style: none;
 margin: 0rem 1.5rem;
 font-family: poppins;
}
.farbars{
  width: 30px;
  height: 25px;
  margin: 0 2rem;
  display: none;
}
.farbars p{
 
  border: solid;
  border-color: white;
  border-width: 1px;
  margin: 5px 0;
 
}

@media screen and (max-width: 460px) {
  .complete-nav{
     position: fixed;
     overflow-x: hidden;
 
  }
  .navbar .logo {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .navbar{
    min-height: 10vh;
    display: flex;
    position: fixed;
  }
  .navbar .lists{
    flex-direction: column;
    margin: 0rem 0;
    display: none;
    width: 100vw;
   }
   
   .navbar .lists ul{
    flex-direction: column;
    margin: 2rem -6rem;
    position: absolute;
    padding: 1.5rem 0;
    text-align: center;
    gap: .5rem;
    background-color: rgba(28, 29, 30, 0.826);
    width: 100vw;
    height: 30vh;
   }
   .farbars{
    display: block;
  }
  /* .list{
  
    flex-direction: column;
    margin: 0rem 0;
    justify-content: center;
    align-items: center;
    display: none;
  } */
  
  
}