.navbar{
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 5rem;
 border-bottom: solid;
 border-width: 0.01px;
 border-color: grey;
}
.navbar .logo {

}
.navbar ul {
 display: flex;
}
.navbar ul li{
 list-style: none;
 margin: 0rem 1.5rem;
 font-family: poppins;
}
