.mygallery{
    width: 100vw;
    min-height: 92vh;
    display: flex;
    position: relative;
    /* background-image: url(assets/bar.jpeg); */
}
.eachimg{
     width: 100vw;
     position: absolute;
     opacity: 0;
}
.eachimg-active{
    width: 100vw;
    position: absolute;
    opacity: 1;
}
.displayimg{
    width: 100%;
    height: 83vh;
}
.divider{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   position: absolute;
   width: 100vw;
   height: 90%;
  
}
.ind{
    width: 100%;
    height: 100%;
    color: beige;
    background-color: rgba(0, 0, 0, 0.3);
    border-left-style: solid;
    border-width: 1px;
    border-left-color: aliceblue;
}
.ind:hover .view{
  scale: 1;
}
.one p, .two p, .three p, .four p{
  width: 100%;
  height: 0vh;
  background-color: #F8F4F3;
  transition: 2s;
}
.one:hover p{
    height: 20vh;
    transition: 2s;
  }
.one:hover .ind-content{
    color: black;
  }
.two:hover p{
    height: 20vh;
    transition: 2s;
  }

.two:hover .ind-content{
    color: black;
  }
  .three:hover p{
    height: 20vh;
    transition: 2s;
  }
.three:hover .ind-content{
    color: black;
  }
  .four:hover p{
    height: 20vh;
    transition: 2s;
  }
.four:hover .ind-content{
    color: black;
  }
.ind-content{
    color: white;
    position: absolute;
    margin: 1rem 2rem;
   
}
.ind-content .title{
   font-family: teko;
   font-size: 1.2rem;
   letter-spacing: 2px;
}
.ind-content .main{
   font-size: 1.3rem;
   font-family: poppins;
   font-weight: 600;
}
.view{
    margin: 25rem 10rem;
    position: absolute;
    font-family: poppins;
    font-size: .85rem;
    color: white;
    scale: 0;
    cursor: pointer;
}
.makeit{
 font-size: 1.2rem;
 margin: -.3rem .7rem;
 position: absolute;

}
.ins :hover view{
    scale: 1;
    color: white;
}
@media screen and (max-width:460px) {

  .mygallery{
   margin: -18rem 0;
   flex-direction: row;
   height: 10vh;

  }
 
  .divider{
    display: inline;
    height: 45vh;
  
  }
  .ind-content .title{
    font-family: teko;
    font-size: .9rem;
 }
 .ind-content .main{
    font-size: 1.1rem;  
 }
 .ind{
  border-bottom-style: solid;
  border-width: 1px;
  border-left-color: aliceblue;
  }
  .two:hover p{
    height: 20vh;
    transition: 2s;
  }
  .one:hover p{
    height: 20vh;
    transition: 2s;
  }
  .displayimg{
    height: 180vh;
  }
  .view{
    margin: 8rem 0rem;
    position: relative;
    left: 13rem;
    font-family: poppins;
  
}

}
