@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Teko&display=swap');

.outer{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 32vw;
}
.theouter{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}
.theinner{
    height: 100vh;
    width: 67vw;
    left: 0;
    position: absolute;
}
.theouter button{
    margin-top: 20rem;
    font-size: 1rem;
    position: absolute;
}
.theimge{
    height: 100%;
    width: 100%;
    position: relative;
}
.imginer{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
   
}
.round{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s;
    /* transform: rotate(180deg); */
   
}

.the-active{
    height: 100%;
    width: 100%;
    position: relative;
    
}
.covert{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
 position: absolute;
 top: 0;

}
.writing{
    font-size: 5rem;
    color: white;
    width: 3rem;
    width: 50rem;
    font-family: teko;
}
.linez{
 margin: 0 -2rem;
 position: absolute;
 color: #B19777 ;
 z-index: 1;

}
.linez .hori{
    width: 4rem;
    top: -6rem;
    border-color:#B19777  ;
    color: #B19777 ;
    margin: 0 -5rem;
    position: absolute;
}
.linez .vert{
    width: 4rem;
    top: -4.7rem;
    border-color:#B19777  ;
    margin: 0 -6rem;
    position: absolute;
    rotate: 90deg;
}
.lines{
    margin: 0 -2rem;
    position: absolute;
    color: #B19777 ;
    z-index: -1;
}
.lines .hori{
    width: 5rem;
    top: 22rem;
    border-color:#B19777  ;
    margin: 0 -5rem;
    position: absolute;
}
.lines .vert{
    width: 4rem;
    top: 20.8rem;
    border-color:#B19777  ;
    margin: 0 -6rem;
    position: absolute;
    rotate: 90deg;
}
.contents{
    color: #ffff;
    position: absolute;
    margin: 0 -12rem;
    z-index: 10;
    font-family: teko;
    display: flex;
 
}
.cont-display{
    display: inline-block;
}
.cont-display:hover .linez .hori{
    width: 18rem;
    transition: 2s;
}
.cont-display:hover .lines .hori{
    width: 18rem;
    transition: 2s;
}
.title{
    letter-spacing: 5px;
    font-size: 5rem;
    margin: .4rem 0;
    width: 33rem;
}
.classic{
    margin: -3rem 0;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 7px;
    color: #B19777 ;
}
.control{
    position: absolute;
    left: -12rem;
    margin: 20% 0rem;
    z-index: 1
}
.designdetail{
    font-size: .9rem;
    font-family: poppins;
    width: 25rem;
}
.writing button{
    padding: 10px 35px;
    font-family: teko;
    font-size: 1.2rem;
    top: -4rem;
    color: #fff;
    border-style: none;
    letter-spacing: 1px;
    background-color: #B19777 ;;
}
.thebuttons{
    display: inline-block;
    position: absolute;
    z-index: 100;
    right: 5rem;
    top: 70%;
}
.arrow{
    font-size: 1.5rem;
    color:white; 
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    border-color: white;
    padding: 1.1rem 1.4rem;
    background-color: rgba(254, 255, 255, 0.053);
}
.top{
    margin: .5rem 0;
}
.something{
    font-size: 2rem;
    color: white;
}
.thebuttons .count{
    font-family: Teko;
    padding: .5rem 0 0 0;
}

@media screen and (max-width:460px){
   
    .theinner{
        width: 100vw;
        overflow-x: hidden;
    }
    .theouter{
        width: 100vw; 
        height: 110vh;
       
    }
    .title{
        letter-spacing: 5px;
        font-size: 2.3rem;
        margin: .4rem 0rem;
        width: 30rem;
    }
    .contents{
        margin: 0 1rem;
    }
    .designdetail{
        font-size: .8rem;
        font-family: poppins;
        width: 17rem;
    }
    .thebuttons .count{
      margin: 4.5rem 0rem;
      left:-15rem;
      font-size: 3rem;
        
    }
    .theid{
        margin: 31rem 12rem;
        left: 1.6rem;
        font-size: 4rem;
    }
}
