 @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Teko&display=swap');

 .outers{
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    justify-content: right;
    background-image: url(/assets/bg.jpeg);
 }
.inner{
    position: absolute;
    width: 70%;
    height: 100vh;  
   
}
.theimage{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.theimg{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s;
  
}
.theimg-active{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.mainimg{
   min-height: 100%;
   max-width: 100%;
   
}
.animate{
    height: 100%;
    width: 100%;
    background-color: gray;
}
.cover{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(16, 15, 15, 0.413);
}
.writing{
    font-size: 5rem;
    color: white;
    width: 3rem;
    width: 50rem;
    font-family: teko;
}
.title{
    letter-spacing: 5px;
}
.classic{
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 7px;
    color: #B19777 ;
}
.control{
    position: absolute;
    left: -11.2rem;
    margin: 20% 0rem;
    z-index: 200;
}
.designdetail{
    font-size: .9rem;
    font-family: poppins;
    width: 25rem;
}
.writing button{
    padding: 10px 35px;
    font-family: teko;
    font-size: 1.2rem;
    color: #fff;
    border-style: none;
    letter-spacing: .9px;
    background-color: #B19777 ;;
}
.outline{
       
}
.thebuttons{
    display: inline-block;
    position: absolute;
    z-index: 1000;
    right: 5rem;
    top: 30rem;
}
.arrow{
    font-size: 1.5rem;
    color:white; 
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    border-color: white;
    padding: 1.1rem 1.4rem;
    background-color: rgba(254, 255, 255, 0.053);
}
.top{
    margin: .2rem 0;
}
.animated{
    width: 100%;
    height: 50%;
    background-color: gray ;
    position: absolute;
}