.thecarousel{
    font-size: 5rem;
  margin: 5rem;
    width: 100vw;
    border-width: 3rem;
    z-index: 200;
}
.thepixs{
    width: 50rem;
    display: flex;
    gap: 1rem;

}
.exemploy{
    width: 30rem;
    height: 22rem;
    opacity: 0;
}
.exemploy-active{
    width: 30rem;
    height: 22rem;
    opacity: 1;
    display: flex;
}
.inploy{
    height: 22rem;
    width: 15rem; 
}
.exemp{
    width: 100%;
    height: 100%;
}
.outlayer{
    max-width: 20rem;
    position: relative;
}


.auto-card-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
  }
  
  .card {
    flex: 1 1 1;
    height: 300px;
    margin-right: 0px;
    scroll-snap-align: center;
    transition: transform 0.3s ease-in-out;
    background-color: black;
  }
  
  .card.active {
    transform: scale(1.1);
  }
  .left{
    top: 18.25rem;
    left:-.5rem;
   
  }
  .right{
    top: -6.5rem;
    left:-5rem;
   
  }
   .left, .right{
    border-style: none;
    margin: 1rem .2rem;
    padding: 1rem 1.5rem;
    position: relative;
    float: left;
    background-color: rgba(211, 211, 211, 0.794);
   }
   .combine{
    position: absolute;
    z-index: 100;
    left: -23rem;
    margin: -2rem 0;
   }

   .mycard{
    background-color: lightblue;
    max-width: 10rem;
    height: 10rem;
    margin: 0rem 1rem 0 1rem;
   }
   .thecard{
     width: 50vw;
     margin: 0rem 20rem;
   }
  
   .eachpix{
    width: 15rem;
    height: 7rem;
    flex-direction: column;
   }
   .nose{
    display: flex;
   }
   .dimg{
    width: 15rem;
    height: 22rem;
   }
   .testing{
    display: flex;
   }
.themark{
    width: 70vw;
}
.testy{
    position: relative;
}
.scrcover{
    position: absolute;
    top: 5rem;
    z-index:-1 ;
    opacity: 0;
    width: 90%;
    height: 135%;
    background-color: rgba(0, 0, 0, 0.684);
}
.delvier{
    position: relative;   
    height: 24.5rem;
}
.delvier:hover .scrcover{
     opacity: 1;
}
/* .social-name{
    background-color: rgba(0, 0, 0, 0.684);
    height: 93%;
    width: 115%;
    position: relative;
    z-index: 500;
    transform: translateX(2rem);
    margin: -18rem -2rem;
} */
.social-media{
    width: 20rem;
    height: 10rem;
    margin: 2rem .3rem;
}
.media-pix{
    width: 5.5%;
    margin: .9rem 15.5rem;
    filter: invert(97%) sepia(100%) saturate(0%) 
    hue-rotate(264deg) brightness(103%) contrast(105%);
}
.team-name{
    margin: 5.5rem 1rem;
    width: 14rem;
    font-family: poppins;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    color:  rgb(248,244,243);
}