*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body{
    overflow-x: hidden;
}
@media screen and (max-width: 460px){

    body{
        overflow-x: hidden;
        overflow: auto;
    }
       
 }
 @media screen and (max-width: 330px){

 
    body{
        overflow-x: hidden;
        overflow: auto;
    }
    }